@inherits LayoutComponentBase
@inject Initialization init
@inject ILogger<MainLayout> _logger
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="container" @onclick="init.HandleMainLayoutClickEvent">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    @{ OnError(@ex); } @*calls custom handler*@
                    <p>@ex.Message</p> @*prints exeption on page*@
                </ErrorContent>
            </ErrorBoundary>
            </div>
    </main>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // This initializes the theme for the components.
        // Then you can use init.ToggleTheme() to toggle between light and dark modes.    
        if (firstRender) await init.InitializeTheme(); 
    }

    private void OnError(Exception ex)
    {
        _logger.LogError(ex, "unhandled error");
    }
}